#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

hr {
  max-width: 50%;
  margin-left: -10px;
}
